* {
  box-sizing: border-box;
}

html {
  font-size: 25px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 50px;
}

header {
  height: 160px;
  background-color: coral;
}

section {
  border: 2px solid black;
  /* height: 200px; */
  width: 500px;
}

section div {
  height: 150px;
  /* height: 50vw; */
  /* height: 50%; */
  /* width: 150px; */
  width: 10rem;
  font-size: 60px;
  /* width: 25%; */
  /* width: 25vw; */
  /* min-width: 50px;
  max-width: 200px; */
  margin: 20px;
  line-height: 150px;
  display: inline-block;
  background-color: lightpink;
  text-align: center;
}

footer {
  background-color: burlywood;
  height: 150px;
}

@media screen and (min-width: 750px) and (max-width: 1199px) {
  body {
    background-color: brown;
  }
}

@media screen and (min-width: 450px) and (max-width: 749px) {
  body {
    background-color: blueviolet;
  }
}
