<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a Pet</title>
</head>
<body>
  <h1>Create your pet below</h1>

  <a href="/pets">Cancel</a>

  <form method="POST" action="/pets">
    <label>Name</label>
    <input name="name" />
    <br/>
    <label>Breed</label>
    <input name="breed" />
    <br/>
    <label>Age</label>
    <input name="age" />
    <br/>
    <button type="submit">Create</button>
  </form>
</body>
</html>
